  @font-face {
      font-family: 'Noto Sans TC';
      src: url('./fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2');
  }
  
  @font-face {
      font-family: 'Noto Sans SC';
      src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2');
  }
  
  body {
            width: 100%;
            border-collapse: collapse;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            font-weight: bold !important;
            color: #00000;
        }
.reportTable {
      font-family: 'Open Sans', Helvetica, Arial, Noto Sans TC, Noto Sans SC, sans-serif;
      font-weight: bold !important;
      color: #00000;
      border-collapse: collapse;
      border-spacing: 5px;
      table-layout: fixed;
      background-color: #fffff;
  }


  .total {
            font-weight: bold;
            background-color: #ffcc99;
            border-top: 2px solid #696969;
        }
 th.headerCell {
      background-color: #ccffff;
      color: black;
      padding: 10px;
      border-bottom: 2px solid #000000;
      text-align: left;
  }
.rowCell {
      vertical-align: middle;
      padding: 8px;
      border-bottom: 1px solid #606060;
  }
