  @font-face {
      font-family: 'Noto Sans TC';
      src: url('./fonts/noto-sans-tc-v10-latin_chinese-traditional-regular.woff2') format('woff2');
  }
  
  @font-face {
      font-family: 'Noto Sans SC';
      src: url('./fonts/noto-sans-sc-v11-latin_chinese-simplified-regular.woff2') format('woff2');
  }
  
  body {
            width: 100%;
            border-collapse: collapse;
            font-family: 'Open Sans', Helvetica, Arial, sans-serif;
            font-weight: bold !important;
            color: #000000;
        }


  .total {
            font-weight: bold;
            background-color: #ffcc99;
            border-top: 2px solid #696969;
        }
